*	SCCS id Keywords             @(#)  300.1 date 11/13/91 menu.config   
*
*	Practical Technology 1989-1990
*
*	Popup control file for DAXCAD
*
*	This file has NOUN numbers which are located in the
*	menuc.0xx database file
*	
*
* Display Popup Zoom etc
BEGIN 1                   
BANNER 540
51 
52 
53 
54 
55 
56 
END
*
* MAWS VIEWS
*
BEGIN 2                                       
BANNER 541
439 
440
441 
442 
443 
445 
346 
347
END
*
* Free Popup Space
*
BEGIN 3           
END
*
*Dimension Tolerance
*
BEGIN 4
BANNER 542
HEADER    429
237 
430
431 
432 
433 
437 
END
*
* Points Mode
*
BEGIN 5                                 
BANNER 543
42  
43  
41 
44
45 
40 
46 
END                                        
*
* Colour Selections
*
BEGIN 6
BANNER 544
HEADER  399 
414 
415 
416 
417
418 
419 
420 
421 
422 
423 
424 
425 
426 
427 
428 
END 
*
* Free Popup
*
BEGIN 7
END
*
* Text Justification
*
BEGIN 8
COLUMNS 3               
BANNER 546
HEADER   160 
151  
152  
153 
*
154 
155 
156 
*
157  
158  
159 
END
*
* Daxports Window
*
BEGIN 9
BANNER 547
511 
512
513 
523
567
522
END
*
* Daxports Create
*
BEGIN 10
BANNER 548
514  
510 
END 
*
* Array Type
*
BEGIN 11
BANNER 549
HEADER 35
36   
37 
38 
39  
END
*
* Centre Line Type
*
BEGIN 12
BANNER 550
HEADER 83
86   
87  
167 
END
*
* Grid Type
*
BEGIN 13
BANNER 560
HEADER   348 
58   
344  
END   
*
* Drawing units
*
BEGIN 14
BANNER 561
HEADER  9 
138  
139  
169  
170  
171 
172
173  
200  
END            
*
* Confirm Popup
*
BEGIN 15
BANNER 562
520 
521 
END
*
* Layer Control
*
BEGIN 16
BANNER 563
568  
61  
62
63  
64  
65 
END
*
* Paper Type (for create)
*
BEGIN 17
BANNER 564
HEADER  8 
364 
365 
366 
367 
368
END
*
* Curve display mode
*
BEGIN 18
BANNER 565
HEADER   359 
360
361 
362 
363 
END
*
* Hatch Pattern
*
BEGIN 19
BANNER 566
HEADER    128 
531 
532 
533 
534 
535 
536 
END
*
* Paper Type (for plot)
*
BEGIN 20
BANNER 564
HEADER  310
364 
365 
366 
367 
368
END                       
*
* Browser Selection
*
BEGIN 21
BANNER   583  
HEADER   582  
464  
465    
584
END
*
* Property selector for NC interface
*
BEGIN 22
BANNER 607
608
609
610
611
615
612
END
*
* Edit Property selector for NC interface
*
BEGIN 23
BANNER 607
608
609
610
615
END
