10
7
14
11
12
2
1 
13
10
4
6
Calcomp
postscript
Gerber
HP 7586Bcb
HP 7585Bcpt
HP 7475
Metric
Benson
Ben 16**
Roland A2
/daxcad/plot/plotter.plot_
c:\plot\plotter_
/daxcad/plot/plotter.plot_
/plot/benson/plotter.plot_
/plot/roland/plotter.plot_
/daxcad/plot/plotter.plot_
/daxcad/plot/plotter.plot_
/daxcad/plot/plotter.plot_
/daxcad/plot/plotter.plot_
/daxcad/plot/plotter.plot_


*
*     @(#)  1.1 date 12/09/91 plotter.pcf 
*
*
*     Filename    : plotter.pcf
*     Version     : 1.1
*     Retrieved   : 92/01/30 21:27:05
*     Last change : 91/12/09 15:35:37
*
*     Copyright : Practical Technology International Limited  
*
*     Plotter configuration file
*     Maximum 10 plotters supported in this file
*
*

